<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cellar Door</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <main class="u-bg-light">{{> @partial-block }}</main>
    <footer class="c-footer u-bg-dark">
      <div class="c-footer__content"><p>
      <a href="https://github.com/nilsnh/cellar-door">Cellar Door</a>,
      an open-source implementation of the <a href="https://indieweb.org/IndieAuth">IndiAuth</a>
      federated login protocol by <a href="https://nilsnh.no">Nils Norman Haukås</a>.
      </p>
      </div>
    </footer>
  </body>
</html>
