{{#> layout }}
<div class="c-wrapper">
  <form class="c-form" action="/authorize" method="post">
    <h1 class="c-display u-margin-bottom">Ready to authorize</h1>
    <p class="u-margin-bottom">You can now login to sites like
      <a href="https://indielogin.com">indielogin.com</a>.
    </p>
    <div class="u-right">
    <a href="/logout">Logout</a>
    </div>
  </form>
</div>
{{/layout}}
