{{#> layout }}
<div class="c-wrapper">
  <form class="c-form" action="/login" method="post">
    <h1 class="c-display">Hello there!</h1>
    <p class="u-margin-bottom">To fully complete the setup you need to rename the
      .env-example file to .env and add configuration. You'll find instructions
      within. Also you can <a href="https://github.com/nilsnh/cellar-door">consult the readme</a>.
    </p>
  </form>
</div>
{{/layout}}
