/* colors sourced from here
   https://www.colourlovers.com/palette/4582695/Picky_Girl */
html {
  font-family: var(--main-font);
  background-color: var(--dusk);
  box-sizing: border-box;
}

@media (min-width: 500px) {
  html {
    background-color: var(--dawn);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  color: var(--dusk);
}

a:visited {
  color: blue;
}

p {
  line-height: 1.6;
}

input {
  background-color: var(--blinding-dawn);
  border: 0;
  border-bottom: 1px solid var(--dusk);
  font-style: italic;
  padding: 10px 5px;
  margin-bottom: var(--spacing);
  border-radius: 0;
}

input:focus {
  outline: 0;
  background-color: #fff;
  padding-bottom: 9px;
  border-bottom: 2px dotted var(--dusk);
}

input:hover {
  background-color: #fff;
}

button {
  padding: 10px;
  border: 1px solid var(--dusk);
  background-color: var(--blinding-dawn);
}

button:hover {
  padding: 10px;
  background-color: var(--red-dawn);
}

button:focus {
  padding: 9px;
  border: 2px dotted #3d2f2c;
  background-color: var(--red-dawn);
  outline: 0;
}

/* Sensibly push down the footer*/
main {
  min-height: 70vh;
}
