/* colors sourced from here
   https://www.colourlovers.com/palette/4582695/Picky_Girl */
html {
  font-family: 'Josefin Sans', fantasy, sans-serif;
  background-color: #3d2f2c;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  html {
    background-color: #ffecca;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  color: #3d2f2c;
}

a:visited {
  color: blue;
}

p {
  line-height: 1.6;
}

input {
  background-color: #ffffff8f;
  border: 0;
  border-bottom: 1px solid #3d2f2c;
  font-style: italic;
  padding: 10px 5px;
  margin-bottom: 24px;
}

input:focus {
  outline: 0;
  background-color: #fff;
  padding-bottom: 9px;
  border-bottom: 2px dotted #3d2f2c;
}

input:hover {
  background-color: #fff;
}

button {
  padding: 10px;
  border: 1px solid #3d2f2c;
  background-color: #ffffff8f;
}

button:hover {
  padding: 10px;
  background-color: #ffab8a;
}

button:focus {
  padding: 9px;
  border: 2px dotted #3d2f2c;
  background-color: #ffab8a;
  outline: 0;
}
