.c-form {
  max-width: 250px;
  margin: 0 24px;
  padding-bottom: 24px;
}

.c-form > * {
  display: block;
  margin-bottom: 5px;
}

.c-form input,
.c-form label {
  width: 100%;
}

.c-form input {
  margin-bottom: 28px;
}

@media (min-width: 500px) {
  .c-form {
    margin: 0 auto;
  }
}
