.c-form {
  width: 100%;
  padding: 0 24px 24px 24px;
}

.c-form > * {
  display: block;
  margin-bottom: 5px;
}

.c-form input,
.c-form label {
  width: 100%;
}

.c-form input {
  margin-bottom: 28px;
}

@media (min-width: 500px) {
  .c-form {
    padding: 0;
    max-width: 250px;
    margin: 0 auto;
  }
}
