@import 'fonts.css';
@import 'elements.css';
@import 'login-form.component.css';

.c-display {
  font-weight: 400;
  font-family: 'Pacifico', fantasy, cursive;
}

.c-wrapper {
  padding-top: 24px;
}

.c-notice {
  margin: 0;
  padding: 24px;
  background-color: #ffffff8f;
}

.u-right {
  display: flex;
  flex-direction: row-reverse;
}

.u-margin-bottom {
  margin-bottom: 24px;
}
