@import 'fonts.css';
@import 'elements.css';
@import 'form.component.css';
@import 'vcard.component.css';
@import 'footer.component.css';

.c-display {
  font-weight: 400;
  font-family: 'Pacifico', fantasy, cursive;
}

.c-wrapper {
  padding-top: 24px;
}

.c-notice {
  margin: 0;
  padding: 24px;
  background-color: #ffffff8f;
}

.c-authorize-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-right {
  display: flex;
  flex-direction: row-reverse;
}

.u-margin-bottom {
  margin-bottom: 24px;
}

.u-bg-light {
  background-color: #ffecca;
}

.u-bg-dark {
  background-color: #3d2f2c;
}

.u-clearfix:before,
.u-clearfix:after {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
